<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.hidalgo.gob.mx/logo.png" />
  <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <script type="application/javascript">
    $(document).ready(function(){
      $("#instituto").on("mouseover", function(){
      console.log("Hola");
        $("#myDIV").show();
      });
      $("#yoshio").on("mouseover", function(){
        $("#myDIV").show();
      });
    });
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0&appId=1933426070034431&autoLogAppEvents=1" nonce="v6dJOGGf"></script>
  <main class="content container">
    <img src="{{{logo}}}" class="logo-wordcamp" alt="{{event.name}}" />
    <div class="instructions">
      <p>{{{index.message}}}</p>
    </div>
    <div class="fb-like" data-href="https://www.facebook.com/juventudHGO/" id="instituto" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    <div class="fb-like" data-href="https://www.facebook.com/yoshiocancinoferia/" id="yoshio" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
    {{#error}}
      <p class="error">{{{error}}}</p>
    {{/error}}

    <div class="instructions mt-3">
      <p>Ingresa el correo electronico con el que te registraste en Eventbrite</p>
    </div>

    <form action="/{{formAction}}" id="myDIV" method="POST" class="form-certificate mt-2">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-10">
          <div class="input-group input-group-lg mb-3 w-100">
            <input type="email" name="email" class="form-control" placeholder="{{index.emailPlaceholder}}" aria-label="{{index.inputLabel}}" 
              aria-describedby="button-addon2" required="required">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{index.submit}}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <input type="email" name="email" placeholder="{{index.emailPlaceholder}}" aria-label="{{index.inputLabel}}" required="required" />
      <button type="submit">{{index.submit}}</button> -->
    </form>
  </main>
  <footer class="site-info">
    <a href="{{event.url}}">{{event.name}}</a>
  </footer>
</body>
</html>
