<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.hidalgo.gob.mx/logo.png" />
    <link rel="stylesheet" type="text/css" href="{{{baseUrl}}}/static/css/info.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-12">
                    <div class="card hovercard">
                        <div class="cardheader"></div>
                        <div class="avatar">
                            <img alt="" src="{{{baseUrl}}}/static/images/user.jpg">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a href="#">{{attendee.first_name}} {{attendee.last_name}}</a>
                            </div>
                            <div class="desc"><strong>Correo Electrónico</strong></div>
                            <div class="desc">{{attendee.email}}</div>
                            <div class="desc"><strong>CURP</strong></div>
                            <div class="desc">{{attendee.curp}}</div>
                            <div class="desc"><strong>Procedencia</strong></div>
                            <div class="desc">{{attendee.municipio}}</div>
                        </div>
                        <!-- <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                               href="https://plus.google.com/+ahmshahnuralam">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-primary btn-sm" rel="publisher"
                               href="https://plus.google.com/shahnuralam">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
