<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{event.name}}</title>
  <link rel="stylesheet" type="text/css" href="{{{baseUrl}}}/static/css/certificate.css" />
  <style>
    body {
      background-image: url("{{{baseUrl}}}/{{{certificate.background}}}");
    }
  </style>
</head>

<body>
  <div class="content">
    {{#certificate.logo}}<img class="logo-wordcamp" src="{{{baseUrl}}}/{{{certificate.logo}}}" alt="{{event.name}}" />{{/certificate.logo}}

    <div class="inner-content">
      <p>{{{certificate.textLine1}}}</p>
      <h2>{{attendee.first_name}} {{attendee.last_name}}</h2>
      <p>{{{attendee.data}}}</p>
    </div>
    <img src="{{{baseUrl}}}/{{qr}}" alt="QR Image" class="inner-qr">
    <!-- <div class="inner-date">
      <h3>{{attendee.date}}</h3>
    </div> -->
  </div>
</body>
</html>
