@page {
  size: A4 landscape;
}

html {
  height: 100%;
}

body {
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 1cm;
  text-align: center;
}

.logo-wordcamp {
  max-height: 150px;
  width: auto;
}

.inner-content {
  display: table-cell;
  left:36%;
  min-width: 50%;
  position: fixed;
  top: 81%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner-qr {
  display: table-cell;
  left:79%;
  width: 100px !important;
  position: fixed;
  top: 51%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .inner-date {
  display: table-cell;
  left: 65%;
  min-width: 35%;
  position: fixed;
  top: 94%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

h2 {
   margin: 400px 50px 425px 50px;
}

p {
  margin: 0.5cm 0;
  padding: 0 10%;
}
