html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #f7f7f7;
  color: #252525;
}

a {
  color: #21759b;
}

a:hover {
  text-decoration: none;
}

.content {
  margin: 0 auto;
  /* max-width: 1024px; */
  padding: 30px;
  text-align: center;
}

.logo-wordcamp {
  max-height: 150px;
  max-width: 100%;
  width: 50%;
}

.instructions {
  padding: 10px;
  font-size: 16px;
}

.error {
  background-color: #FFBABA;
  border-radius: 3px 3px 3px 3px;
  color: #D8000C;
  display: table;
  margin: 10px auto;
  padding: 10px;
}

.site-info {
  font-size: 18px;
  text-align: center;
}

.form-certificate {
  position: relative;
  text-align: center;
  width: 100%;
}

.form-certificate input {
  background-color:  #ffffff;
  border-bottom-left-radius: 2px;
  border-right: 0;
  border-top-left-radius: 2px;
  border: 1px solid #999999;
  color:#252525;
  padding: 14px 15px 14px 40px;
  width: 60%;
}

.form-certificate button {
  background-color:  #21759b;
  color: #ffffff;
}

.form-certificate button:hover {
  background-color: #2c9bce;
}

@media (max-width: 767.98px) {
  .logo-wordcamp {
    width: 75%;
    height: auto;
    margin-bottom: 15px;
  }

  .input-group-append {
    width: 40% !important;
  }

  .btn-outline-secondary {
    font-size: 11px !important;
  }

  .form-certificate input {
    font-size: 13px !important;
  }
}